@import 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: $font-family;
    background-color: $bg-body;
}

.calendar {
    height: max-content;
    width: max-content;
    background-color: $bg-main;
    border-radius: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: $shadow;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: $color-txt;
    padding: 10px;
}

.calendar-content {
    padding: 10px;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;

    div {
        display: grid;
        place-items: center;
        color: $bg-second;
    }
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: $color-txt;

    div {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        position: relative;
        animation: to-top 1s forwards;

        &.curr-date {
            background-color: $dark-hover;
            color: $white;
            border-radius: 50%;
        }
    }
}


.month-holder {
    padding: 5px 10px;
    border-radius: 10px;
}

.year-holder {
    display: flex;
    align-items: center;
    margin: 0 3vw;
}

.month-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;

    &:hover {
        background-color: $color-hover;
    }
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
