$bg-body: #f3f8fe;
$bg-main: #fdfdfd;
$bg-second: #c3c2c8;
$color-hover: #edf0f5;
$color-txt: #151426;
$white: #fff;
$dark-hover: #323048;
$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$font-family: cursive;