body {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header,
main {
  margin: 1.5vw 0;
  text-align: center;
}

header {
  font-size: xx-large;
  font-weight: bold;
}

.load-by-js,
.load-by-fetch {
  background-color: #20ba96;
  border-color: #20ba96;
  color: aliceblue;
  padding: 0.5vw 1vw;
  border-radius: 5px;
  font-size: x-large;
  margin: 0 2vw 5vw;
}

.users-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.users-list-by-js,
.users-list-by-fetch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 2px #20ba96;
  min-width: 25vw;
  min-height: 25vw;
}

.btn-delete,
.btn-edit,
.btn-by-fetch {
  border-radius: 10px;
  color: aliceblue;
  margin: 1vw;
  padding: 0 0.8vw;
}

.btn-edit {
  border-color: #1a96c7;
  background-color: #1a96c7;
}

.btn-delete {
  border-color: #ab2451;
  background-color: #ab2451;
}

h2 {
  font-weight: normal;
  margin-bottom: 0%;
}

.header-by-js {
  margin-bottom: 0.83em;
}

.list-item {
  background-color: #eeeeee;
  margin: 1vw 1vw 0;
}

.edit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-by-fetch {
  background-color: #20ba96;
  border-color: #20ba96;
}

#loading {
  width: 1rem;
  height: 1rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  align-items: center;
  visibility: hidden;
  animation: spin 1s infinite linear;
}
#loading.display {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
