
html,
body {
    margin: 0;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
}

header {
    position: absolute;
    width: 100%;
    z-index: 100;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    flex-wrap: wrap;
    padding-inline-start: 0;
}

nav ul li {
    padding: 0vw 2vw 3vw 5vw;
    text-align: center;
    font-size: 1.4rem;


}

nav a {
    color: #000;
    text-decoration: none;
}

section h2 {
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 100%;
    padding: 0 0 .8vw .8vw;
    border-bottom: solid .16vw #65aa44;
    border-left: solid .7vw #65aa44;
    margin-block-start: 0;
    margin-block-end: 0;
}

.section_padding {
    padding: 2vw 4vw;
}

.section_background {
    background: #FBF9FA;
}

.title_container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.with_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 35vw;
    height: 40vw;
    align-items: stretch;
    background: url("./../img/wheat.jpg") no-repeat;
    /*background-size: cover;*/
    background-size: 100%;
}


.title_container .sub_title {
    z-index: 3;
    max-width: 60vw;
    font-size: 2.5rem;
    align-self: flex-end;
    margin-right: 1vw;
    margin-top: 5vw;
    margin-bottom: 6vw;
}

.title span {
    color: #E2BA7B;
    font-weight: normal;
}

.learn button {
    border: 0px;
    border-left: 2px solid #65aa44;
    border-right: 2px solid #65aa44;
    background: none;
    padding: 1.1vw 4.5vw;
    font-size: 1rem;
    cursor: pointer;

}


.group_companies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.companies_card {
    max-width: 28vw;
}

.companies_card h3 {
    color: #65aa44;
    font-size: 2rem;
    padding: 0vw;
    margin: 0;
}

.offer_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.offer_card {
    flex: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.offer_card img {
    object-fit: contain;
}

.offer_card h3 {
    font-weight: bold;
    margin-left: 2vw;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #e2ba7b;
    text-align: center;
    padding: .5vw 1vw;
}

.cursive {
    font-style: oblique;
}

.wdwo_list li::marker {
    color: #e2ba7b;
}

.news_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vw;
}

.news_card {
    display: flex;
    flex-direction: row;
    max-width: 27vw;
    padding: 1vw;
    box-shadow: 0 0 10px #888888;

}

.news_card img {
    width: 30%;
    margin-right: 1vw;
}

.news_card_text {
    line-height: 160%;
}

.news_card_text h3 {
    font-weight: bolder;
    margin: 0;
}

.news_card_text p {
    margin: 0;
}

.data_style {
    color: #808080;
    font-style: oblique;
    margin: 0;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
    padding: 0 2vw;
}

footer h3 {
    margin-right: 2vw;
    max-width: 10vw;
    min-width: 7vw;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.icons img {
    width: 2rem;
    margin-bottom: 2vw;
}

.address_block {
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 992px) {
    footer h3 {
        font-size: 1rem;
    }

    .address_block p {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    .with_img {
        min-width: 55vw;
        min-height: 53vw;
    }


    .title_container .sub_title {
        max-width: 60vw;
        font-size: 2rem;
        margin-top: 5rem;
    }


    nav ul li {
        max-width: 7vw;
        font-size: 1.2rem;
    }


    .offer_cards {
        flex-wrap: wrap;
    }

    .offer_card {
        flex: 40%;

    }


    .news_cards {
        flex-direction: column;
    }

    .news_card {
        max-width: none;
        margin-bottom: 2vw;
    }


    .news_card_text p {
        margin-bottom: 2vw;
    }

    .news_card img {
        width: 15%;
    }


    .icons {
        flex-direction: row;
        justify-content: flex-start;
    }

    .icons img {
        margin-right: 0.3vw;
        width: 1.1rem;
    }

    footer {
        flex-direction: column;
        padding: 0 2vw;
    }

    footer h3 {
        min-width: 35vw;
        margin-bottom: 0;
    }

}

@media screen and (max-width: 768px) {
    .with_img {
        width: 60vw;
        height: 60vw;
    }

    .title_container .sub_title {
        max-width: none;
        font-size: 1.5rem;
        margin: 10rem 2rem 5rem 2rem;
        text-align: center;
    }


    nav ul li {
        max-width: none;
        font-size: 1.2rem;
        font-weight: bolder;
        padding: 0 2rem 2rem 2rem;
        min-width: 20vw;

    }

    nav ul {
        justify-content: center;
        flex-wrap: wrap;
    }


    .group_companies {
        flex-direction: column;
    }

    .companies_card {
        max-width: none;
    }

    .min_width {
        min-width: 12vw;
    }


    .offer_cards {
        flex-direction: column;
    }

    .offer_card img {
        object-fit: contain;

    }


    #purchase_prise {
        display: none;
    }


    .news_cards {
        flex-direction: column;
    }

    .news_card {
        max-width: none;
        margin-bottom: 2vw;
    }

    .news_card img {
        width: 15%;
    }


    .icons {
        flex-direction: row;
        justify-content: flex-start;
    }

    .icons img {
        margin-right: 2vw;
    }

    footer {
        flex-direction: column;
        padding: 0 2vw;
    }

    footer h3 {
        min-width: 28vw;
        margin-bottom: 0;
    }
}
