body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #f4f4f4;
  display: flex;

  justify-content: center;
}

.container {
  flex-basis: 80%;
}
.first-section {
  display: flex;
  flex-direction: column;
}

.first-section-line {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  background-color: rgb(118, 205, 216);
  color: white;
  flex-basis: 50%;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 5vh;
}

.text {
  flex-basis: 50%;
  position: relative;
}

.second-line {
  display: flex;
  flex-direction: column;
  background-color: rgb(118, 205, 216);
  color: white;
  flex-basis: 50%;
  align-content: center;
  flex-wrap: wrap;
}

.photo {
  width: 300px;
  height: 300px;
  margin: 4vh auto;
  overflow: hidden;
  border-radius: 50%;
}

.img-circle {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.text-under-photo {
  font-size: 2vh;
  margin-bottom: 6vh;
}

blockquote {
  margin: 10vh;
  line-height: 40px;
}

.inside blockquote {
  margin: 0;
}

.second-header {
  color: rgb(118, 205, 216);
  font-weight: bolder;
  font-size: 4vh;
}

.inside {
  margin: 7vh;
  display: flex;
  flex-direction: column;
}

.inside p {
  line-height: 30px;
}

.inside h3 {
  margin-top: 0;
}

button {
  display: inline-flex;
  background-color: #019999;
  border-color: #019999;
  padding: 2vh 7vh;
  color: white;
  justify-content: center;
}

.right-button {
  align-self: flex-end;
}

.center-button {
  align-self: center;
}
.third-line-left {
  flex-basis: 50%;
  width: 50%;
}

.third-line-right {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  position: relative;
}

.third-header {
  font-weight: bolder;
  font-size: 4vh;
  color: #76cdd8;
}

.second-section {
  margin: 5vh 0 5vh 0;
  display: flex;
  flex-direction: row;
}

.left-block {
  flex-basis: 65%;
}

.right-block {
  flex-basis: 35%;
  /* height: auto; */
}

.right-block img {
  width: 100%;
  /* height: auto; */
}

.third-section-block {
  flex-basis: 33.3%;
}

.third-section-block img {
  width: 100%;
}

.cards {
  border: solid #019999;
  display: flex;
  flex-direction: column;
  margin: 3vh 3vh 3vh 3vh;
}

.cards-header {
  background-color: #019999;
  color: white;
  padding: 2vh;
  text-align: center;
}

.cards-header h3 {
  margin: 0;
  font-weight: normal;
  font-size: x-large;
}

.cards-header p {
  font-size: 2vh;
}

.cards ul {
  margin: 5vh;
}

.cards ul li {
  line-height: 40px;
  text-align: center;
}

li {
  list-style-type: none;
}

.fourth-section-bg {
  height: 10vw;
  background-color: #24d4d4;
}

.fourth-section-container {
  display: flex;
  justify-content: center;
  margin-top: -10vw;
}
.form-container h2 {
  color: white;
  margin: 2.5vw 0;
  font-size: x-large;
  font-weight: lighter;
}

.form-content {
  text-align: center;
  background-color: white;
  padding: 4vw;
}

.form-content > div {
  display: flex;
  flex-direction: row;
}

.form-content-block {
  display: flex;
  flex-direction: column;
}

input,
select,
textarea {
  padding: 2vh;
  margin: 1.5vh;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: 0;
}

footer {
  background-color: #019999;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5vw;
  margin-top: -3vw;
  color: white;
}

footer ul {
  padding-left: 0;
  margin-top: 0;
  line-height: 30px;
  font-size: medium;
}

footer h4 {
  margin: 0;
  line-height: 30px;
  font-size: x-large;
  font-weight: normal;
}

.block-left:hover,
.block-right:hover {
  color: #76cdd8;
}

section {
  background-color: white;
}

.fourth-section {
  background-color: #f4f4f4;
}

.block-right:hover::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  border-right: 4vw solid #76cdd8;
  border-bottom: 4vw solid transparent;
}

.block-left:hover::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-left: 4vw solid #76cdd8;
  border-bottom: 4vw solid transparent;
}

a {
  color: blue;
}

button:hover {
  background-color: rgb(118, 205, 216);
  border-color: rgb(118, 205, 216);
}

.third-line-left:hover,
.right-block:hover,
.third-section-block:hover {
  transform: scale(1.1);
}

.cards:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.button-hover:hover {
  background: #24d4d4;
}

.cards span {
  color: red;
}

.special-discount {
  text-align: center;
  display: none;
  font-size: small;
  color: #24d4d4;
}

.special-discount-card:hover > .special-discount {
  display: block;
}

.inside span {
  color: dodgerblue;
}

.submit {
  margin-top: 2vw;
}

.submit:hover {
  background-color: #24d4d4;
}

.copyright {
  text-align: center;
  font-size: x-small;
}
