h1 {
  text-align: center;
  font-size: 7vh;
}

section {
  text-align: center;
}

.column {
  display: inline-flex;
  flex-direction: column;
}

.row {
  flex-direction: row;
  margin: 0.3vh;
}

input {
  font-size: 7vh;
  width: 8vh;
  height: 8vh;
  text-align: center;
}

.buttons {
  display: flex;
  margin: 0.3vh;
  justify-content: space-between;
}

button {
    margin-top: 3vh;
  width: 18.3vh;
  height: 6vh;
}
