body {
  font-family: "Atlas Grotesk Web";
}
.header {
  display: grid;
  grid-template-columns: 2fr 6fr 8fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 0 2vw;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  padding: 0;
}

nav ul li {
  list-style: none;
  justify-self: start;
  margin-top: 1em;
  margin-bottom: 1em;
}

nav ul li:hover {
  text-shadow: gray 1px 0 10px;
}

.company-name-number {
  color: #7293aa;
  font-size: x-large;
}

.log-in {
  justify-self: end;
  margin-top: 1em;
  margin-bottom: 1em;
}

.top-section {
  background-color: #f5f5f5;
  padding: 0 2vw;
}

.right {
  justify-self: end;
}

.top-section-main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 0 10vw;
}

.top-section-main-left ul {
  display: grid;
  grid-template-columns: repeat(4, 0.04fr);
  justify-content: center;
  padding: 0;
}

.top-section-main-left ul li {
  font-size: xx-large;
  color: #dcdcdc;
  list-style: none;
}

.top-section-main-left ul li:hover {
  color: #505050;
}

.top-section-main-left img {
  width: 100%;
}

.top-section-main-right {
  margin: 3vw 3vw 8vw 3vw;
  display: grid;
  align-items: center;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  grid-template-columns: 4fr 1fr;
  column-gap: 2vw;
}

.top-section-main-right h1 {
  color: #009697;
  font-weight: normal;
  font-size: 3.5vw;
  grid-column: 1/3;
  margin: 0;
}

.top-section-main-right p {
  grid-column: 1/3;
  font-size: 1.3vw;
  margin: 0;
}

.top-section-main-right :is(input, button) {
  padding: 1vw 4vw;
  border-radius: 5px;
}

.top-section-main-right input {
  padding-left: 1vw;
  padding-right: 7vw;
  border: solid 2px #dcdcdc;
  color: #7293aa;
}

.top-section-main-right button {
  background-color: #009697;
  border: solid #009697;
  color: white;
}

.top-section-main-right a {
  color: #a5823d;
  font-size: x-large;
  font-family: "Larsseit-Bold";
  font-weight: bold;
}

.top-section-main-right a:hover {
  color: #e7a729;
}

.underline {
  border-bottom: solid 2px;
}

.underline-header {
  border-bottom: solid #009697 3px;
}

.top-section-tranding {
  margin: 0 2vw;
}

.top-section-tranding h4 {
  color: #e7a729;
}

.tranding-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "tranding-picture1 tranding-picture2 tranding-picture3 tranding-picture4 tranding-picture5 tranding-picture6 tranding-picture7 tranding-picture8 tranding-picture9" "tranding-picture-name1 tranding-picture-name2 tranding-picture-name3 tranding-picture-name4 tranding-picture-name5 tranding-picture-name6 tranding-picture-name7 tranding-picture-name8 tranding-picture-name9";
  justify-items: center;
  align-items: center;
}

.grid-item:nth-child(1) {
  grid-area: tranding-picture1;
}

.grid-item:nth-child(2) {
  grid-area: tranding-picture2;
}

.grid-item:nth-child(3) {
  grid-area: tranding-picture3;
}

.grid-item:nth-child(4) {
  grid-area: tranding-picture4;
}

.grid-item:nth-child(5) {
  grid-area: tranding-picture5;
}

.grid-item:nth-child(6) {
  grid-area: tranding-picture6;
}

.grid-item:nth-child(7) {
  grid-area: tranding-picture7;
}

.grid-item:nth-child(8) {
  grid-area: tranding-picture8;
}

.grid-item:nth-child(9) {
  grid-area: tranding-picture9;
}

.grid-item:nth-child(10) {
  grid-area: tranding-picture-name1;
}

.grid-item:nth-child(11) {
  grid-area: tranding-picture-name2;
}

.grid-item:nth-child(12) {
  grid-area: tranding-picture-name3;
}

.grid-item:nth-child(13) {
  grid-area: tranding-picture-name4;
}

.grid-item:nth-child(14) {
  grid-area: tranding-picture-name5;
}

.grid-item:nth-child(15) {
  grid-area: tranding-picture-name6;
}

.grid-item:nth-child(16) {
  grid-area: tranding-picture-name7;
}

.grid-item:nth-child(17) {
  grid-area: tranding-picture-name8;
}

.grid-item:nth-child(18) {
  grid-area: tranding-picture-name9;
}

.grid-item {
  font-size: larger;
}
.tranding-container img {
  max-width: 9vw;
  max-height: 9vw;
}

.main-header {
  display: grid;
  justify-content: center;
}

.main-header h2 {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 0;
  font-weight: normal;
}

.main-header p {
  max-width: 30vw;
  font-size: larger;
}

.main-content-first-line {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 3vw;
}

.main-content-first-line-block {
  max-width: 30vw;
  display: grid;
  font-size: larger;
}

.main-content-first-line-block img {
  max-width: 70%;
  justify-self: center;
}

.left-block {
  justify-self: end;
}

.right-block {
  justify-self: start;
}

.right-block cite {
  justify-self: end;
  font-size: smaller;
}

.main-content-second-line {
  display: grid;
  grid-template-columns: 1fr 6fr 6fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 3vw;
  align-items: center;
}

.main-content-second-line-left img {
  max-width: 100%;
}

.main-content-second-line-left,
.main-content-second-line-right {
  max-width: 30vw;
  display: grid;
  font-size: larger;
}

.main-content-second-line-left {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: start;
}

.main-content-second-line-left #first-photo {
  grid-row-start: span 2;
  align-self: end;
}

.main-content-second-line-left #second-photo {
  align-self: end;
}

.main-content-second-line-right {
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr auto;
  align-items: center;
}

.main-content-second-line-right h3 {
  color: #a5823d;
  font-size: xx-large;
  margin-top: 2vw;
  margin-bottom: 0;
  grid-column-start: span 2;
}

.main-content-second-line-right p {
  font-size: 1.3vw;
  grid-column-start: span 2;
  line-height: 2vw;
}

.circle-img {
  width: 5vw;
  height: 5vw;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

.circle-img img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.main-content-second-line-right cite {
  font-size: medium;
}

.arrow {
  width: 5vw;
  height: 5vw;
  background-color: #a5823d;
  color: white;
  text-align: center;
  font-size: xx-large;
  line-height: 5vw;
}

.main-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 0 30vw;
  column-gap: 4vw;
  margin: 3vw;
}

.main-buttons button {
  padding: 1vw;
  border-radius: 5px;
  border: solid #a5823d;
}

.gold-button {
  color: white;
  background-color: #a5823d;
}

.gold-button:hover,
.arrow:hover {
  opacity: 40%;
}

.white-button {
  color: #a5823d;
  background-color: #ffff;
}

.galary-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.galary-info h2 {
  font-size: xx-large;
  margin-bottom: 0;
  margin-left: 15vw;
  font-weight: normal;
  grid-column-start: span 2;
  justify-self: start;
}

.galary-info p {
  max-width: 40vw;
  font-size: larger;
  /* margin-left: 7vw; */
}

.galary-info button {
  background-color: black;
  color: white;
  padding: 1vw;
}

.galary-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  column-gap: 3vw;
}

.image-holder {
  position: relative;
}

.image-holder:hover .img {
  opacity: 0.3;
}

.image-holder:hover .text-holder {
  opacity: 1;
}

.image-holder img {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.text-holder {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(16, 51, 23, 0.6);
  color: white;
  width: 100%;
  height: 100%;
}

.text-holder a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.text-holder > div {
  margin: 30% 15%;
}

.galary-items img {
  max-width: 25vw;
  max-height: 25vw;
  width: 100%;
}

.stars ul {
  display: grid;
  grid-template-columns: repeat(5, 0.03fr);
  justify-content: center;
  padding: 0;
}

.stars ul li {
  font-size: xx-large;
  color: black;
  list-style: none;
}

.stars ul li:hover ~ li,
.stars ul li:hover {
  color: #e7a729;
}

.first {
  order: 5;
}

.second {
  order: 4;
}

.third {
  order: 3;
}

.forth {
  order: 2;
}

.fifth {
  order: 1;
}

.stars p {
  text-align: center;
  font-size: larger;
}

.underline-text {
  text-decoration: underline;
}

.main-content-last-line {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: start;
}

.main-content-last-line-left {
  max-width: 25vw;
  border-top: solid 2px #dad9d7;
  border-right: solid 2px #dad9d7;
  justify-self: end;
  padding: 2vw;
}

.main-content-last-line-left-bg {
  background-image: url("../img/violets.jpg");
}

.main-content-last-line-left-content {
  background: rgba(255, 255, 255, 0.5);
  display: grid;
  text-align: center;
  font-size: larger;
  align-items: start;
  justify-items: center;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.main-content-last-line-left-content h3 {
  color: #009697;
  font-size: x-large;
}

.main-content-last-line-right {
  max-width: 25vw;
  border-top: solid 2px #dad9d7;
  padding: 2vw;
}

.main-content-last-line-right-all-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin: 2vw;
}

.main-content-last-line-right img {
  max-width: 5vw;
  max-height: 5vw;
  grid-row-start: span 2;
}

.main-content-last-line-right-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2fr 1fr;
}

.main-content-last-line-right-item p {
  margin: 0;
}

.underline-gray {
  border-bottom: solid 2px #dad9d7;
}

.bottom-orientation {
  align-self: end;
}

.bottom-orientation:hover {
  color: #009697;
}
.underline-gold {
  border-bottom: solid 1px #a5823d;
  color: #a5823d;
}

.read-now {
  font-size: larger;
  margin-top: 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  background-color: #f5f5f5;
}

.footer-container ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 1.5rem 0;
}

.footer-container li:first-child {
  color: #7293aa;
  font-weight: bolder;
}
.footer-container li:first-child:hover {
  color: #7293aa;
  cursor: unset;
}

.footer-top {
  grid-column-start: span 3;
  border-bottom: #dad9d7 1px solid;
  width: 85vw;
  text-align: center;
  margin: 0;
  padding: 1rem;
  color: #dad9d7;
  font-style: italic;
}

.footer-main-left {
  line-height: 1.5rem;
}

.footer-main-middle {
  line-height: 2rem;
}

.footer-main-right {
  line-height: 2.5rem;
}

.footer-main-right li:hover,
.footer-main-middle li:hover,
.footer-main-left li:hover {
  color: #e7a729;
  cursor: pointer;
}

.footer-bottom {
  grid-column-start: span 3;
  border-top: #dad9d7 1px solid;
  width: 85vw;
  margin: 0;
  color: #dad9d7;
}

.footer-bottom ul {
  max-width: 80vw;
  margin-left: 3vw;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.footer-bottom li {
  min-width: 10vw;
}
